<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">
    <h1>This is insert page</h1>

    <hr><br>
    <form action="insertsubmit">
        <h1>Enter product data to be stored in the table....</h1>
        <br>
        enter id<input type="text" name="i"/>
        <br>
        enter name<input type="text" name="n"/>
        <br>
        enter price<input type="text" name="p"/>
        <br>
        <hr><br>
        
        <input type="submit"/>

    </form>
</body>
</html>